<!DOCTYPE html>
<html>
  <head>
    <title>Frolick</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="{{ url_for('static', path='/index.js') }}"></script>
  </head>
  <body>
    <div id="app" class="w-full lg:w-1/2 mx-auto my-10">
      <h1 class="text-6xl font-bold mb-10">[[ title ]]</h1>
      <p class="text-base">[[ content ]]</p>
      <!-- <textarea :value="input" @input="update"></textarea>
      <div v-html="compiledMarkdown"></div>
      [[ counter ]]
      <button @click="counter++">Add</button>
      <button @click="ping">Ping</button>
      <button @click="getContent">Get Content</button> -->
    </div>
  </body>
</html>
